<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        Welcome to Home Page
        
       
        <h2>Home</h2>
        {% if user.is_authenticated %}
            <p>You are welcome on Home Page</p>
            <p>Your name is - {{user.username}} </p>
            <p>Your email is - {{user.email}}</p>
            <br><br>
            
            <br /> <br />
            <h1> Uploade image is {{img.avater.url}} </h1>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}

        
    </body>
</html>